@import '../core/variables';
.boton-clear {
    height: 50px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    margin-top: 30px;
    background-color:$color-3;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: black;
    cursor: pointer;
}

.boton-clear:hover{
    background-color:$color-1 ;
}