@import "../core/variables";

.boton-contenedor {
    height: 70px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    background-color: $color-2;
    color: black;
    border-radius: 20px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    line-height: 70px
}

.operador {
    background-color: $color-3;
}

.boton-contenedor:hover{
    background-color: $color-1;
}
