.footer{
    background-color: white;
    font-size: 16px;
    color: rgb(10, 10, 10);
    height: 40px;
    align-items: center;
    text-align: center;
}
.link{
    text-decoration: none;
    color: white;
}