.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: rgb(35, 33, 33);
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    color: aliceblue;
    cursor: pointer;
}

.boton-clear:hover{
    background-color: rgb(123, 123, 119);
}